# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
media/
*.log

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Testing & Cache
.pytest_cache/
.coverage

# Build files
build/
dist/
*.egg-info/